<div class="row">
    <div class="col-md-4 offset-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ form.email.label }}
                    {{ form.email(class = "form-control", placeholder = "enter email") }}
                </fieldset>
                <fieldset>
                    {{ form.password.label }}
                    {{ form.password(class = "form-control", placeholder = "enter password") }}
                </fieldset>
                {{ form.submit_button(class = "btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
</div>
